<?xml version="1.0"?>
<!--
/**
 * @author Dotsquares Team
 * @copyright Copyright (c) 2015 Dotsquares (http://www.dotsquares.com)
 * @package Dotsquares_Quickview
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="dotsquares_quickview" frontName="dotsquares_quickview">
            <module name="Dotsquares_Quickview" />
        </route>
    </router>
</config>
