<?xml version="1.0"?>
<!--
/**
 * @author Dotsquares Team
 * @copyright Copyright (c) 2015 Dotsquares (http://www.dotsquares.com)
 * @package Dotsquares_Quickview
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="dotsquares" translate="label" sortOrder="40">
            <label><![CDATA[Defray Themes]]></label>
        </tab>
		<section id="dotsquares_quickview" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Quickview</label>
            <tab>dotsquares</tab>
            <resource>Dotsquares_Quickview::dotsquares_quickview</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable/Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Enable and Disable Quickview setting.
                    </comment>
                </field>
                <field id="button_text" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Lable</label>
					<comment>
                        Quickview Button Lable
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
