<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_marketplace">
        <observer name="marketplace_design" instance="Dotsquares\Marketplace\Observer\SaveDesign"/>
    </event>
    <!-- <event name="admin_system_config_changed_section_marketplace_settings">
        <observer name="marketplace_setting" instance="Dotsquares\Marketplace\Observer\SaveSetting"/>
    </event> -->
</config>
