<?xml version="1.0"?>
<!--
/**
 * @author Dotsquares Team
 * @copyright Copyright (c) 2015 Dotsquares (http://www.dotsquares.com)
 * @package Dotsquares_Quickview
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <default>
        <dotsquares_quickview>
            <general>
                <enable>1</enable>
                <button_text>Quick View</button_text>
                <button_style>000000</button_style>
                <button_textcolor>383838</button_textcolor>
            </general>
        </dotsquares_quickview>
    </default>
</config>
