<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
		<add id="Dotsquares_Homepageslider::dotsquares_homepageslider" title="
		Banner Slider" module="Dotsquares_Homepageslider" sortOrder="30" parent="Dotsquares_Marketplace::dotsquares_marketplace" resource="Dotsquares_Homepageslider::dotsquares_homepageslider"/>
		<add id="Dotsquares_Homepageslider::dotsquares_slider" title="Banner Slider" module="Dotsquares_Homepageslider" sortOrder="40" parent="Dotsquares_Homepageslider::dotsquares_homepageslider" action="dotsquares_homepageslider/items" resource="Dotsquares_Homepageslider::dotsquares_slider"/>
		<add id="Dotsquares_Homepageslider::dotsquares_setting" title="Slider Setting" module="Dotsquares_Homepageslider" sortOrder="50" parent="Dotsquares_Homepageslider::dotsquares_homepageslider" action="adminhtml/system_config/edit/section/banner_settings" resource="Dotsquares_Homepageslider::dotsquares_slider"/>
    </menu>
</config>
