<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <marketplace_settings>
            <header>
                <header_social>1</header_social>
                <header_social_block>defary_header_socailicon</header_social_block>
				<header_logo_src>default/defray.jpg</header_logo_src>
            </header>
        </marketplace_settings>
        <marketplace>
            <themeheader>
                <theme_color>F68121</theme_color>
            </themeheader>
            <colors>
                <custom>1</custom>
                <page_bgcolor>FFFFFF</page_bgcolor>
                <text_color>000000</text_color>
                <link_color>000000</link_color>
                <link_hover_color>000000</link_hover_color>
                <header_top_color>666666</header_top_color>
                <header_menu>FFFFFF</header_menu>
                <header_menu_background>F68121</header_menu_background>
                <header_menu_hover>FF210F</header_menu_hover>
                <footer_color>FFFFFF</footer_color>
                <footer_background>333333</footer_background>
                <newsletter_background>F68121</newsletter_background>
                <button_bg_color>000000</button_bg_color>
                <button_text_color>FFFFFF</button_text_color>
                <button_hover_bg_color>F68121</button_hover_bg_color>
                <button_hover_text_color>FFFFFF</button_hover_text_color>
                <breadcrumbs_color>0B0833</breadcrumbs_color>
                <breadcrumbs_links_color>0B0833</breadcrumbs_links_color>
                <breadcrumbs_links_hover_color>F68121</breadcrumbs_links_hover_color>
            </colors>
        </marketplace>
        <banner_settings>
            <enable>
                <enable_slider>1</enable_slider>
            </enable>
        </banner_settings>
        <blog>
            <general>
                <enable_frontend>1</enable_frontend>
                <homepage_blog>1</homepage_blog>
                <menu_blog>1</menu_blog>
                <blog_label>Blog</blog_label>
            </general>
        </blog>
		<brand>
            <general>
                <enable_frontend>1</enable_frontend>
                <menu_brand>0</menu_brand>
                <brands_label>Shop By Brands</brands_label>
            </general>
        </brand>
		<dotsquares_quickview>
            <general>
                <enable>1</enable>
                <button_text>Quick View</button_text>
            </general>
        </dotsquares_quickview>
    </default>
</config>